 
<!doctype html>
<html>
<head>
  <title>Image Uploader</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/font-awesome.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
    <style>
      html,body{
        overflow-x: hidden; 
      }
    </style>
</head>
<body>
  <div class="container-fluid" style="padding:0px;">
    <div class="container">
      	<div class="row">
           	<div class="col-sm-12">
             	<div>
             		<h3>List of Images <span class="pull-right" style="font-size: 15px;"><a href="/photo/upload">Upload new photo</a></span></h3>
             		<table class="table table-striped">
             			<thead>
             				<tr>
             					<td>Image Number</td>
             					<td>Image</td>
             					<td>Uploaded By</td>
             				</tr>
             			</thead>
             			<tbody>
             				<% if(image){%>
	             				<% image.forEach(function(item, key){%>
		             				<tr>
		             					<td><%= key + 1 %></td><td>
		             					<% item.image.forEach(function(images){%>
			             					<img src="<%= images %>" class="img img-responsive" width=400px>
			             				<%});%></td>
		             					<td><%= item.uploadedBy %></td>
		             				</tr>
	             				<%});%>
	             			<%}%>
             			</tbody>
             		</table>
             	</div>
           	</div>
        </div>
      </div>
    </div>
  </body>
</html>

